body{
    margin-left: 20%;
    margin-right: 20%;
}

#nav{
    display: flex;
   justify-content: space-evenly;
    text-decoration: none;
    
}
#interface{
    display: flex;
    gap: 50px;
    margin-bottom:50px ;
}
#dit{
    border: solid;
    border-color: brown;
}
#ditio{
    display: flex;
    justify-content: space-evenly;
}
#dolor{
    margin-bottom: 50px;
}
#clients{
    display: flex;
    margin-bottom: 50px;
justify-content: space-evenly;
}
#copy{
    display: flex;
    background-color: black;
    color: white;
    gap: 30px;
    padding: 20px;
}
#top{
    display: flex;
    background-color: blue;
    color: white;
    justify-content: space-evenly;
    padding: 50px;
    padding-right: 200px;
}
#user{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    
    
}
#store{
    display: flex;
    justify-content: space-evenly;
}
#app{
    border-radius: 20px;
    /* padding: 10px; */
    /* width: 30px; */
    /* height: 30px;
    background-color: #252849;
    color: white; */
}
#group{
    display: flex;
    gap: 100px;
}
#play{
    border-radius: 20px;
    padding: 30px;
    background-color: white;
    color: black;
}
#prg{
    width: 1px;
    height: 2px;
    display: flex;
}
#beth{
    border: solid;
    border-color: brown;
}
#bet{
    display: flex;
}
#gbet{
    background-color: #252849;
}
#sign{
    background-color: palevioletred;
    color: white;
    border-radius: 20;
}
#login{
    color: black;
    border-radius: 20;
}
#Tim{
    text-align: right;
}
#customer{
    margin-bottom: 50px;
    text-align: center;
}
#size{
    font-size: xx-large;
}
#watch{
    border-radius: 20px;
    background-color: blue;
    color: aliceblue;
}
#create{
    display: flex;
    gap: 20px;
}
#button{
    background-color: palevioletred;
    color: white;
    border-radius: 20px;
}
#person{
    display: flex;
}

.pics{
    border-radius: 200px;
    width: 70px;
}
.way{
    display: flex;
    margin-bottom: 100px;
    gap: 30px;
}
#monthly{
    display: flex;
}
.pic{
    width: 150px;
}
#us{
    color: red;
}

@media screen and (min-width:375) and (max-width:750){
    #nav{
        flex-direction: column;
        
    }
    #clients{
        flex-direction: column;
    }
    #interface{
        flex-direction: column;
        
}
.pic{
    width: 50px;
    flex-direction: column;
}
#create{
    flex-direction: column;
    
}
.way{
    flex-wrap: wrap;
  flex-direction: column;
    gap: 10px;
}
#bet{
     flex-direction: column;


}
#customer{
  flex-direction: column;
  width: 10px;
}
#top{
    flex-direction: column;
    background-color: blue;
    color: white;
    
    
    
}
#clients{
flex-direction: column;
}
#roger{
    flex-direction: column;
}
}